// fonts.scss
// Titillium FONT
// ###############
// ###############
@font-face {
    font-family: "Titillium";
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url('/fonts/Titillium-Web/TitilliumWeb-Extralight.ttf');
}

@font-face {
    font-family: "Titillium";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('/fonts/Titillium-Web/TitilliumWeb-Light.ttf');
}

@font-face {
    font-family: "Titillium";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/Titillium-Web/TitilliumWeb-Regular.ttf');
}

@font-face {
    font-family: "Titillium";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('/fonts/Titillium-Web/TitilliumWeb-SemiBold.ttf');
}

@font-face {
    font-family: "Titillium";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/fonts/Titillium-Web/TitilliumWeb-Bold.ttf');
}

@font-face {
    font-family: "Titillium";
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url('/fonts/Titillium-Web/TitilliumWeb-Black.ttf');
}

