.featherIcon {
    transition: all 100ms ease-out;
}

.container {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: calc(100% / 3) calc((100% / 3) * 2);
    grid-gap: 2rem;
}

