// variables.scss


// Colors
// ###############
// ###############

// Glaucous
$primary: #6E7DAB;
// Independance
$secondary: #575366;
// Royal Blue Light
$accent: #5762D5;
// Black Coffee
$dark: #32292F;
// Mint Cream
$light: #D1E3DD;