// variables.scss

// Colors
// ###############
// ###############

// Illuminating Emerald
$primary: #3C8F73;
// Middle Blue Green
$accent: #8BD9BF;
// Black Coffee
$dark: #32292F;
// Mint Cream
$light: #D1E3DD;
// hugsanlega: #F6F8FA
// Dark bg: #24292E, með #2F363D