.sidebar {
    display: flex;
    flex-direction: column;
    width: 288px;
    max-width: 15vw;
    height: 100%;
    padding: 1rem;

    border: solid red 1px;
    
    ul {
        list-style: none;
        padding-left: 0;
    }
}
