@import '../../../styles/globals/variables.scss';

.layoutWrapper { 
    max-width: 100vw;
    height: 100vh;
    max-height: 100vh;
}

.contentWrapper {
    display: flex;
    height: calc(100vh - 54px);
}

.mainWrapper {
    width: 100%;
    padding: 1rem 2rem;
}
