@import '../../../styles/globals/variables.scss';

.table {
    // background: $light;
    // TODO: Laga fyrir mobile responsiveness
    height: 85%;
    border: solid 1px $borderColor;
    border-collapse: collapse;
    box-shadow: 0 1px 9px 0px rgba(50, 41, 47, .05);

    tbody {
        display: block;
        position: relative;
        height: 100%;
        overflow-y: auto;
        tr {
            display: block;
            width: 100%;
            border-bottom: 1px solid $borderColor;
            transition: all 100ms ease-out;
            opacity: .9;
            cursor: pointer;

            &:hover {
                background: $light;
                opacity: 1;
            }

            td { 
                border-bottom: solid 1px $borderColor;
            }
        }
    }
}

.magnitude {
    padding: 1.5rem .75rem 1.5rem 1.5rem;
    span {
        font-size: 1.5rem;
        font-weight: 400;
    }
}

.description {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 3rem 1.5rem .75rem;
    header {
        font-weight: 500;;
    }
}

.timestamp {
    font-size: .8rem;
}