@import '../../../styles/globals/variables.scss';

.table {
    // background: $light;
    // TODO: Laga fyrir mobile responsiveness
    height: 85%;
    border: solid 1px $borderColor;
    border-collapse: collapse;
    box-shadow: $shadow;

    tbody {
        display: block;
        position: relative;
        // table header is 75px
        height: calc(100% - 75px);
        overflow-y: auto;
        tr {
            display: block;
            width: 100%;
            border-bottom: 1px solid $borderColor;
            transition: $transition;
            opacity: .9;
            cursor: pointer;

            &:hover {
                background: $light;
                opacity: 1;
            }

            td { 
                border-bottom: solid 1px $borderColor;
            }
        }
    }

    thead {
        display: block;
        height: 75px;
        tr {
            display: block;
            width: 100%;
            border-bottom: 1px solid $borderColor;

            th {
                
            }
        }
    }
}

.magnitudeHeader, .descriptionHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0;
    cursor: pointer;

    &:hover {
        border-bottom: solid 1px $accent;
    }

    span {
        color: $primary;
        margin-right: .25rem
    }

    svg {
        visibility: hidden;
        transition: $transition;
        transition-property: transform;
    }
}

.magnitudeHeader {
    width: 6rem;
}

.magnitude {
    display: flex;
    justify-content: center;
    width: 6rem;
    padding: 1.5rem 0;
    span {
        font-size: 1.6rem;
        font-weight: 400;
    }
}

.descriptionHeader {
    width: 100%;
    padding-left: 1rem
}

.description {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1.5rem 0 1.5rem 1rem;
    header {
        font-weight: 500;;
    }
}

.timestamp {
    font-size: .8rem;
}
