@import '../../../styles/globals/variables.scss';

.header {
    display: flex;
    position: relative;
    height: 54px;
    padding: .5rem 1rem;
    background-color: $light;
    border-bottom: 1px solid #edebe9;
    z-index: 1;
}

.logoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
}
