.header {
    display: flex;
    height: 54px;
    padding: .5rem 1rem;
    border: solid red 1px;
}

.logoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
}
