// styles.scss

@import './globals/normalize.scss';
@import './globals/fonts.scss';
@import './globals/variables.scss';

html, body {
    font-size: 18px;
}

* { 
    font-family: 'Titillium'!important;
    color: $dark;
    box-sizing: border-box;
}